body {
  background-color: beige;
}

.card-style:hover {
  border: 2px solid black;
  box-shadow: -5px 5px 20px white;
  margin: 4px;
}

.card-style {
  border: 1px solid black;
  margin: 5px;
  background: lightBlue;
  box-shadow: -2px 2px 5px black;
  color: black;
}

.add-btn {
  border: 2px solid black;
  color: white;
  background-color: #642f1d;
}

.details-page {
  height: 1200px;
}

.details-box {
  background-color: powderblue;
  width: 60vw;
  height: 110vh;
  margin-left: 6%;
}

.details-box img {
  margin-top: 40px;
  height: 350px;
  width: 700px;
  border: 1px solid black;
}

.details-location-name {
  font-size: 24px;
  font-weight: bold;
  padding: 0;
  margin: 0;
  margin-bottom: -15px;
}

.details-activities-food {
  width: 75%;
  padding: 0;
  margin: 5px 0 5px -90px;
}

.details-activities {
  margin-bottom: -15px;
}

.details-heading {
  margin-top: -10px;
  display: flex;
  justify-content: space-around;
  width: 70%;
  margin-bottom: -10px;
}

.details-description {
  font-size: 13px;
  width: 80%;
  font-weight: bold;
}

.details-box p {
  padding: 0;
}

.details-box p:last-of-type {
  margin-bottom: 10px;
}

.details-btns {
  -top: 10px;
}

.details-with-YouTube {
  display: flex;
  flex-direction: column;
}

.edit-btn {
  border: 2px solid black;
  color: white;
  background-color: #642f1d;
  margin-bottom: 5px;
}

.heart-btn {
  border: none;
  background-color: powderblue;
}

.favorites-card {
  border: 1px solid black;
  background-color: #f2f3c8;
  color: #642f1d;
}

.favorites h1 {
  margin-left: 10px;
}

.favorites-card h5 {
  font-size: 20px;
  margin-top: 10px;
  margin-left: 10px;
}

.favorites-card p {
  margin-left: 10px;
}

.delete-btn {
  background-color: #f2f3c8;
}

.drop-down {
  border: 2px solid black;
  color: white;
  background-color: #642f1d;
  padding: 10px 15px;
  width: 100%;
  text-align: left;
  background-color: #f0f0f0;
  color: black;
  border: none;
  cursor: pointer;
  border-bottom: 1px solid lightgray;
}

.drop-down:hover {
  background-color: white;
}

.filter-btn {
  border: 2px solid black;
  color: white;
  background-color: #642f1d;
}
